// main: ../venuekita.scss

/**
 * Custom Animation Library
 * =============================================================================
 * Author : Arvianto Dwi <arvianto.dwi@programmer.net>
 * Since  : 2016-02-21 (v1.0.0)
 */

/* Order Confirmation Steps
 * Applied on: ../contents/_order_confirmation.scss ========================= */
@keyframes bar-progress {
  0% { width: 0; }
  100% { width: 30%; }
}
@keyframes step-1-progress {
  0% {
      @include size(0, 0);
      margin: 0;
    }
  100% {
      @include size(36px, 36px);
      margin: -18px 0 0 -18px;
    }
}
@keyframes step-2-progress {
  0% {
    @include size(0, 0);
    margin: 0;
  }
  100% {
    @include size(36px, 36px);
    margin: -18px 0 0 -18px;
  }
}
