// main: ../venuekita.scss

/**
 * Core, Reset, and Basic
 * =============================================================================
 * Author: Arvianto Dwi <arvianto.dwi@programmer.net>
 * Since : 2015-12-23
 */

/* #Reset & Basics (Inspired by E. Meyers)
 ================================================== */
// html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
//   margin: 0;
//   padding: 0;
//   border: 0;
//   font-size: 100%;
//   font: inherit;
//   vertical-align: baseline;
// }
// article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
//   display: block;
// }
// body { line-height: 1; }
// ol, ul { list-style: none; }
// blockquote, q {
//   quotes: none;
//
//   &:before, &:after {
//     content: '';
//     content: none;
//   }
// }
// table {
//   border-collapse: collapse;
//   border-spacing: 0;
// }
// th, td { vertical-align: top; }

/* #Basic Styles
 ================================================== */
html { @include size(100%, 100%); }
body {
  @include size(100%, 100%);
  position: relative;
  background-color: $global_body_bg;
  font: {
    family: 'Lato', sans-serif;
    size: 16px;
  }
  line-height: 1.5em;
  color: $text_regular;
  text-align: left;
  overflow-x: hidden;

  &.new-ui {
    background-color: $white;
    padding-top: 50px;
  }
}

/* #Typography
 ================================================== */
h1, h2, h3, h4, h5, h6 {
  color: #d71785;
  font-weight: 700;
  padding-bottom: 10px;

  > a { font-weight: inherit; }
}
h1 {
  font-size: 42px;
  line-height: 50px;
  margin-bottom: 14px;
}
h2 {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 10px;
}
h3 {
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 0;
}
h4 {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 4px;
}
h5 {
  font-size: 16px;
  line-height: 24px;
}
h6 {
  font-size: 14px;
  line-height: 21px;
}
.subheader { color: #777; }
p {
  margin: 0 0 20px;

  &.lead {
    font-size: 21px;
    line-height: 27px;
    color: #777;
  }

  > img { margin: 0; }
}
small { font-size: 80%; }
/*	Blockquotes  */
blockquote,
blockquote p {
  font-size: 16px;
  line-height: 24px;
  color: #777;
  font-family: Novecentowide-Normal;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  text-align: left;
}
blockquote {
  margin: 0 0 20px;
  padding: 0;
}
blockquote cite {
  display: block;
  font-size: 12px;
  color: #555;
}
blockquote cite:before {
  content: "\2014 \0020";
}
blockquote cite a,
blockquote cite a:visited,
blockquote cite a:visited {
  color: #555;
}
hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}

/* #Links
 ================================================== */
a, a:visited {
  color: #d71785;
  text-decoration: none;
  outline: 0;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}
a:hover, a:focus { color: #f03ca3; }
p a, p a:visited { line-height: inherit; }

/* #Lists
 ================================================== */
ul, ol { margin-bottom: 20px; }
ul { list-style: none outside; }
ol { list-style: decimal; }
ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul.disc { list-style: disc outside; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 4px 0 5px 30px;
  font-size: 90%;
}
ul ul li,
ul ol li,
ol ol li,
ol ul li {
  margin-bottom: 6px;
}
li {
  line-height: 27px;
  margin-bottom: 5px;
}
ul.large li { line-height: 21px; }
li p { line-height: 27px; }
ul li {
  background: url(../images/layout/li.png) no-repeat 2px 11px;
  padding-left: 15px;
}

/* #Images
 ================================================== */
img,
img.scale-with-grid {
  max-width: 100%;
  height: auto;
}
td img {
  max-width: none;
}

/* #Buttons
 ================================================== */
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  -webkit-appearance: none;
  -moz-appearance: none;
}
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background: #d71785;
  /* Old browsers */
  color: #fff;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  margin: 20px 0;
  line-height: normal;
  padding: 10px 15px;
  border: none;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: #fff;
  background: #c90676;
  /* Old browsers */
}
.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
  border: 1px solid #666;
  background: #ccc;
  /* Old browsers */
  background: #ccc -moz-linear-gradient(top, rgba(255,255,255,.35) 0%, rgba(10,10,10,.4) 100%);
  /* FF3.6+ */
  background: #ccc -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.35)), color-stop(100%,rgba(10,10,10,.4)));
  /* Chrome,Safari4+ */
  background: #ccc -webkit-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%);
  /* Chrome10+,Safari5.1+ */
  background: #ccc -o-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%);
  /* Opera11.10+ */
  background: #ccc -ms-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%);
  /* IE10+ */
  background: #ccc linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%);
  /* W3C */
}
.button.full-width,
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* #Forms
 ================================================== */
form {
  margin-bottom: 20px;
}
fieldset,
input[type="text"],
input[type="password"] {
  margin-bottom: 20px;
}
input[type="email"],
textarea,
select {
  border: 1px solid #ccc;
  padding: 6px 8px;
  outline: none;
  font: 14px Lato, sans-serif;
  color: #444;
  margin: 0;
  width: 210px;
  max-width: 100%;
  display: block;
  margin-bottom: 20px;
  background: #fff;
}
select {
  padding: 0;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 1px solid #aaa;
  color: #444;
}
textarea {
  min-height: 60px;
}
label,
legend {
  display: block;
  font-weight: bold;
  font-size: 13px;
}
select {
  width: 220px;
}
input[type="checkbox"] {
  display: inline;
}
label span,
legend span {
  font-weight: normal;
  font-size: 13px;
  color: #444;
}
/* Form field placeholder */
/* Webkit */
::-webkit-input-placeholder {
  font: {
    size: 1em;
    style: normal !important;
  }
  color: $placeholder;
}
/* Firefox 18- */
:-moz-placeholder {
  font: {
    size: 1em;
    style: normal !important;
  }
  color: $placeholder;
}
/* Firefox 19+ */
::-moz-placeholder {
  font: {
    size: 1em;
    style: normal !important;
  }
  color: $placeholder;
}
/* IE Based */
:-ms-input-placeholder {
  font: {
    size: 1em;
    style: normal !important;
  }
  color: $placeholder;
}

/* #Misc
 ================================================== */
.clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after { clear: both; }
}
.remove-bottom { margin-bottom: 0; }
.half-bottom { margin-bottom: 10px; }
.add-bottom { margin-bottom: 20px; }
.left { float: left; }
.right { float: right; }
.clreol { clear: both; }
@media screen and (max-width: 768px) {
  /*table {
    width: 100%;
  }*/
  /* Force table to not be like tables anymore */
  /*table, thead, tbody, th, td, tr { display: block; }*/
  /* Hide table headers (but not display: none;, for accessibility) */
  /*thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  td {
    !* Behave  like a "row" *!
    border: none;
    position: relative;
    width: 100%;
  }
  td:before {
    !* Now like a table header *!
    position: absolute;
    !* Top/left values mimic padding *!
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }*/
}
input[type="text"], input[type="password"], input[type="email"], textarea, select {
  border: 1px solid #ccc;
  padding: 6px 8px;
  outline: none;
  //font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
  margin: 0;
  width: 210px;
  max-width: 100%;
  display: block;
  margin-bottom: 20px;
  background: #fff;
}
