// main: ../venuekita.scss

/**
 * Responsive Style: Portrait Phone
 * =============================================================================
 * Author: Arvianto Dwi <arvianto.dwi@programmer.net>
 * Since  : 2015-12-23 (v1.0.0)
 * Updated: 2016-03-29 (v1.1.0) - New responsive base for mobile devices
 *        : 2016-04-05 (v1.2.0) - Add new venue detail responsive style
 *        : 2016-04-13 (v1.3.0) - Add new order checkout responsive style
 */

/* =============================================================================
 * Component - Topbar Style
 * =============================================================================
 */
.header-venuekita,
.header-venuekita.header-home {
  @include size(100%, 62px, content-box);
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: solid 4px $blue_mid;
  background-color: $white;

  > a:last-of-type {
    @include size(164px, 36px);
    margin: 13px 0 13px 20px;
    // Animation Overriding
    opacity: 1 !important;
    transform: translateY(0) scale(1) !important;
    transition: transform 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s, opacity 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s !important;

    &::before {
      content: '';
      @include size(100%, 100%);
      display: block;
      background: {
        image: url(/Content/Images/layout/logo-inverse.png);
        position: left center;
        size: cover;
      }
    }

    > img { display: none; }
  }

  #nav-toggle,
  #mobile-vlfilter-toggle.filter-active { display: block; }

  .nav-collapse {
    @include size(100%, auto);
    display: none;
    margin: 0;
    position: fixed;
    top: 66px;
    right: 0;
    background-color: $blue_mid;
    box-shadow: 0 11px 23px rgba($black, 0.35);

    > ul {
      padding: 0 0 27px;

      > li {
        @include size(100%, auto, border-box);
        float: none;
        padding: 0 21px;

        &.listup { margin-left: 0; }

        a {
          display: block;
          line-height: 45px;
          border: {
            style: solid;
            width: 0 0 2px !important;
            color: $white;
          }
          padding: 8px 0 8px 7px !important;
          font: {
            size: 1.125em;
            weight: 400;
          }
          color: $white;
        }
      }
    }
  }
}

/* =============================================================================
 * Component - Footer Style
 * =============================================================================
 */
#pnlFooterGlobal #web-global-footer,
#pnlFooterGlobal > .partial-footer > #web-global-footer {
  padding: {
    top: 15px;
    bottom: 55px;
  }

  > .container {
    width: 100%;
    max-width:100%;
    padding: 0 15px;

    .footer-left, .footer-right {
      width: 100%;
      max-width: none;
      float: none;
      text-align: center;
    }

    .footer-left {
      > small {
        @include size(170px, 55px);
        position: absolute;
        bottom: -55px;
        left: 50%;
        margin-left: -85px;
        text-align: center;
        line-height: 55px;
      }

      > nav > ul > li {
        &.page-navigation {
          margin: {
            top: 0;
            left: 0;
          }

          > a {
            padding: 0 12px;
            margin-right: -4px;
            display: inline-block;
            float: none;

            &::before {
              content: '';
              @include size(1px, 8px);
              background-color: $text_sub;
              position: absolute;
              left: 0;
              top: 50%;
              margin-top: -4px;
            }
            &:first-of-type { padding-left: 12px; }
            &:last-of-type {
              padding-right: 12px;

              &::after {
                content: '';
                @include size(1px, 8px);
                background-color: $text_sub;
                position: absolute;
                right: 0;
                top: 50%;
                margin-top: -4px;
              }
            }
          }
        }
        &.social-navigation > a { float: none; }
      }
    }

    .footer-right {
      width: 100%;
      margin-top: 20px;

      > a {
        display: inline-block;
        float: none;

        &.telkom { margin-right: 0; }
        &.veritrans { margin-top: 14px; }
      }
    }
  }
}

/*
 * =============================================================================
 * Venue Detail Page Style
 * =============================================================================
 */
.venue-heading {
  height: auto;
  padding-top: 66px;

  &::before, &::after { display: none; }

  .container {
    width: 100%;
    padding: 0;

    .scroller-toggle { display: none; }

    .heading-info {
      height: auto;
      margin-top: 0;

      .venue-featured-slider { display: none; }
      .venue-pricing {
        padding-bottom: 77px;

        > h2 {
          margin-top: 0;
          padding-top: 90px;
        }

        .pricing-tip {
          height: 72px;
          padding: 4% 5%;
          top: 0;
          background-color: $blue;

          &::after { display: none; }

          > h2 { font-weight: 700; }
        }

        .price-detail {
          &.has-1-prices .price-container,
          &.has-2-prices .price-container,
          &.has-3-prices .price-container {
            padding: 16px 0;

            &:first-of-type { padding-top: 0; }
          }
        }
      }
    }
  }
}

.venue-content {
  .rooms-section {
    margin-top: -66px;
    padding-top: 77px;

    .filter {
      height: 100%;
      display: none;
      position: fixed;
      top: 66px;
      padding: 0;
      background-color: rgba($black, 0.65);

      #filter-form {
        display: none;
        height: 100%;
        padding-bottom: 65px;
        overflow-y: scroll;

        .fields-inner-container {
          border: 0;

          > input[type=submit] {
            border-width: 1px 0;
            margin-left: 0;
          }
        }
      }
    }

    .listings {
      .listing-item {
        .item-heading {
          > article > span { display: none; }
          > article > p {
            clear: left;
            float: none !important;
            padding-top: 7px;
            font-size: 0;
            line-height: normal;

            > i.fa { display: none; }
            > time {
              font-size: 14px;

              &:first-of-type {
                &::after {
                  content: 's.d.';
                  display: inline-block;
                  margin: 0 3px 0 2px;
                }
              }
            }

            .mobile-filter-trigger { display: inline-block; }
          }
        }

        .item-content {
          .specification {
            border-width: 0 1px 1px;

            .row { display: none; }
          }

          .calculator, .holiday { position: relative; }
          .calculator {
            padding-bottom: 85px;

            .calc-row {
              width: 100%;
              padding-top: 17px;
              margin: 0 auto;

              > ul {
                > li {
                  &.calc-title { margin-bottom: 13px; }
                  &.calc-item { margin-bottom: 10px; }
                }
              }

              > i.fa { margin-bottom: 29px; }

              .price-result { margin-top: 10px; }
            }
          }
        }
      }
    }

    #listing-items-toggle {
      height: auto;

      > div {
        font-size: 0.875em;
        padding: 0 15px;
        line-height: normal;
        display: block;
      }
      > a { margin: 8px auto 0; }
    }
  }

  .info-section {
    position: relative;
    padding-top: 25px;

    .misc-info {
      width: 100%;
      padding-top: 11px;
      margin-bottom: 5px;
      background-color: $white;
      border: solid 1px #D5D5D5;
      z-index: 2;

      .info-item {
        &:not(:last-child) { border-bottom: solid 1px #D5D5D5; }
        &:not(:first-child) { margin-top: 8px; }

        > ul > li { border: 0; }
      }
    }

    .about-venue {
      > article {
        h1 { line-height: 1.55em; }
      }
    }
  }

  .map-section {
    margin-top: 5px;
    padding-top: 0;
    border: solid 1px #D5D5D5;

    .map-heading {
      color: #444;
      background-color: $white;
      border-bottom: 0;

      > article > h2 {
        font-weight: 400;
        text-transform: none;
      }
      > article > p {
        margin: 11px 0 8px;

        &:not(:nth-of-type(2)) { display: none; }
      }

      .open-map-anchor {
        width: 176px;
        position: relative;
        top: auto;
        right: auto;
        margin: 11px auto 0;
        display: block;
        color: #696969;
        text-align: center;
        background-color: #F1F1F1;
      }
    }

    #map-wrapper { display: none; }
  }

  .similar-listing { margin-bottom: 20px; }
}

/*
 * =============================================================================
 * Order Confirmation Page Style
 * =============================================================================
 */
.order-walkthrough { display: none; }

.checkout-content {
  padding-top: 86px;
  margin-bottom: 50px;

  .checkout-form {
    padding: 222px 0 0;
  }
  .order-summary {
    padding: 0;
    position: static;
  }
}

.checkout-content .checkout-form .form-set {
  .form-fields-container {
    .set-fields-row {
      width: 100%;

      .fields-heading {
        > span { width: 110px; }
      }
      .form-field {
        padding: 0 21px;

        > label {
          @include size(100%, auto);
          display: block;
          padding-left: 0;
          margin: 15px 0 5px;
          line-height: 1em;

          &.inline-label {
            width: 100%;
            margin: {
              top: 11px;
              left: 0;
            }
          }
        }
        > select,
        > textarea,
        > input[type=text],
        > input[type=number],
        > input[type=email] {
          width: 100%;
        }
        > textarea {
          width: 100%;
          margin-left: 0;
        }

        .residential-description {
          width: 100%;
          padding-left: 0;
        }
      }
    }
  }

  #order-to-payment { font-size: 0.9375em; }
}


.checkout-content .order-summary {
  .meeting-duration {
    width: 100%;
    position: absolute;
    top: 209px;
    left: 0;
    margin: 0;
    padding: 0 15px;
    background-color: transparent;
    border: 0;

    .arrow-go-to {
      @include size(26px, 26px);
      position: absolute;
      top: 50%;
      left: 50%;
      margin: {
        top: -14px;
        left: -14px;
      }
      border-color: #D5D5D5;
      background-color: $white;
      transform: rotate(90deg);
      z-index: 2;

      > i.fa {
        @include size(24px, 24px);
        vertical-align: top;
        line-height: 24px;
      }
    }

    .date-container {
      width: 100%;
      border: {
        style: solid;
        color: #D5D5D5;
      }
      background-color: $white;
      text-align: center;

      &.start-date {
        margin-right: 0;
        border-width: 1px 1px 0;
        padding: 13px 0 17px;
      }
      &.end-date {
        border-width: 1px;
        padding: 17px 0 13px;
      }

      > span {
        &.date-label { display: none; }
      }
    }
  }

  .room-overview { display: none; }

  #calculator {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding: 66px 13px 0;
    background-color: $global_body_bg;
    border: {
      width: 0 0 1px;
      color: #C5C5C5;
    }
    box-shadow: 0 2px 6px rgba($black, 0.15);
    z-index: 10;
    overflow-y: scroll;

    /*&::before {
      content: '';
      @include size(100%, 100%);
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba($black, 0.66);
      z-index: 9;
    }*/

    > ul {
      height: 0;
      position: relative;
      padding-bottom: 79px;
      overflow: hidden;

      .pricing-list {
        padding-left: 0;

        &:not(:last-child) {
          padding-bottom: 0;

          .day-label {
            display: block;
            position: relative;
            padding-bottom: 7px;
            line-height: 1em;
            border-bottom: solid 1px #D5D5D5;
          }
          .calculation {
            margin-bottom: 0;
            padding: 4px 0 21px;
            background-color: #F1F1F1;

            .price-formula {
              > .price-per-pax { margin-right: 16px; }
              > i.fa { display: none; }
              > .pax-result {
                position: absolute;
                bottom: 3px;
                right: 158px;
                margin: 0;
                font-size: 0.875em;
                line-height: 1em;

                &::before {
                  content: '\f00d';
                  display: inline-block;
                  margin-right: 2px;
                  font: {
                    family: FontAwesome;
                    size: 0.785em;
                    weight: normal;
                    style: normal;
                  }
                  text-decoration: inherit;
                }
              }
              > span.equals {
                position: absolute;
                top: 14px;
                right: 142px;
              }
            }
            .price-sum { top: 4px; }
          }
        }

        &.last-day {
          border-bottom: solid 2px $blue;
        }
        &.last-result {
          @include size(100%, 79px);
          position: absolute;
          bottom: 0;
          left: 0;
          margin-left: 0;
          border-top: 0;
          background-color: $global_body_bg;
        }

        i.fa-plus { display: none; }

        .calculation {
          .price-formula > .final-calc-label { font-size: 0.875em; }
          .price-sum { right: 4px; }
        }
      }
    }

    #stack-expander { display: block; }
  }
}