// main: ../venuekita.scss

/**
 * Responsive Style: Landscape Phone
 * =============================================================================
 * Author: Arvianto Dwi <arvianto.dwi@programmer.net>
 * Since : 2015-12-23
 *
 * =============================================================================
 * Home / Landing Page Style
 * =============================================================================
 */
.header-venuekita,
.header-venuekita.header-home {
  @include size(100%, 62px);
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: solid 4px #D71785;
  background-color: $white;

  #logo {
    @include size(155px, 36px);
    margin: 13px 0 13px 20px;
    background-image: url(/Content/Images/layout/logo-inverse.png);
    // Animation Overriding
    opacity: 1 !important;
    transform: translateY(0) scale(1) !important;
    transition: transform 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s, opacity 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s !important;
  }
  #nav-toggle { display: block; }
  .nav-collapse {
    @include size(100%, auto);
    display: none;
    margin: 0;
    position: fixed;
    top: 66px;
    right: 0;
    background-color: #D71785;
    box-shadow: 0 11px 23px rgba($black, 0.35);

    > ul {
      padding: 0 0 27px;

      > li {
        @include size(100%, auto, border-box);
        float: none;
        padding: 0 21px;

        a {
          display: block;
          line-height: 45px;
          border: {
            style: solid;
            width: 0 0 2px !important;
            color: $white;
          }
          padding: 8px 0 8px 7px !important;
          font: {
            size: 1.125em;
            weight: 400;
          }
          color: $white;
        }
      }
    }
  }
}

.container {
  &.form-contain {
    position: static;
    height: auto;
    margin-top: 66px;
    padding-top: 15px;
    background-color: #8F0B56;
  }
}

.container.form-contain {
  .search-home-form {
    @include size(100%, auto);
    max-width: 100%;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.25);

    > * {
      @include size(100% !important, 58px);
      display: block;
      border-width: 8px 8px 0;
      float: none;
    }
    > input[type=text] {  }
    > div.date-time-picker {
      > span.e-datetime-wrap { width: 100% !important; }
    }
    > input[type=number] {  }
    > input[type=button] {
      height: 66px;
      border-bottom-width: 8px;
      padding: 17px;
    }
  }
}

.container.tagline-contain {
  .overlay-btn-kamiurus {
    padding: 19px 0 28px;

    > p { font-size: 1.0625em; }
  }
}

.container.response {
  padding: 13px 15px;

  .row {
    .feature-heading,
    .feature-summaries {
      // Animation Overriding
      transform: translateY(0) scale(1) !important;
      opacity: 1 !important;
      transition: transform 0.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s, opacity 0.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s !important;
    }
    .feature-heading {
      font-size: 1.75em;
      margin-bottom: 23px;
    }
    .feature-summaries {
      @include size(100%, auto);
      min-height: 139px;
      float: none;

      &:not(:last-of-type) { margin-bottom: 4px; }
      &.box1 > p {
        background-color: transparent;
        padding-left: 136px;
      }
      &.box2 > p {
        background-color: transparent;
        padding-left: 129px;
      }
      &.box3 > p {
        background-color: transparent;
        padding-left: 126px;
      }

      .box-head {
        > h2 {
          align-self: flex-start;
          margin-top: 24px;
        }
      }

      p {
        position: relative;
        top: 0;
        right: 0;
        margin-top: -89px;
        text-align: left;
      }
    }
  }
}

.clients-list {
  padding-top: 17px;
  margin-bottom: 0;

  .container {
    > h2 {
      font-size: 1.5em;
      line-height: 1.458em;
      padding: 0;

      > span { display: none; }
    }

    .client-slide-inner {
      width: 100%;

      > ul > li {
        width: 32%;
        margin: 0 2% 2% 0;

        &:nth-child(3n) { margin-right: 0; }
      }
    }
  }
}

.container.promo-intro {
  padding-bottom: 20px;
  margin-bottom: 40px;
  // Animation Overidding
  -webkit-transform: translateY(0) scale(1) !important;
  opacity: 1 !important;

  > h2 {
    font-size: 1.5em;
    line-height: 1.458em;
  }
  > p {
    padding: 0 5%;
    font-size: 1em;
    line-height: 1.714em;;

    > strong {
      padding: 2px 3px;
    }
  }
}

.container#venue-list-home {
  max-width: 100%;

  .venue-item.simple {
    width: 48.5%;
    margin: 0 3% 3% 0;
    // Animation Overriding
    transform: translateY(0) scale(1) !important;
    opacity: 1 !important;

    &:nth-of-type(5),
    &:nth-of-type(6) { margin-bottom: 0; }
    &:nth-of-type(3n) { margin-right: 3%; }
    &:nth-of-type(2n) { margin-right: 0; }

    .overlay-list-title {
      padding: 5% 3% 33%;

      > h4 {
        font-size: 1em;
        line-height: 1.5em;
      }
      > p {
        font-size: 0.813em;
        line-height: 1.462em;
        margin-top: 12px;
      }
    }
  }
}
/*
 * =============================================================================
 * Venue List Page Style
 * =============================================================================
 */
#main.main-list {
  width: 100%;
  min-height: 0;
  padding-top: 66px;
  position: static;

  #ContentPlaceHolder1_lblSearchInfo {
    > h1 {
      font-size: 1.438em;
      line-height: 1.391em;
    }
  }
}

.filterlistform {
  .filter-set {
    padding-bottom: 0;

    .single-set-field {
      float: none;

      &.full-row,
      &.two-of-three,
      &.three-columns {
        width: 100%;
        margin-right: 0;
      }
      &:not(:first-child) { padding-top: 13px; }

      .layout-rows {
        padding: 5px;

        .filterform2 {
          &:before {
            content: '';
            display: block;
            padding-top: 100%;
            position: relative;
            top: 0;
            left: 0;
          }

          > label {
            @include size(100%, 100%);
            border-width: 3px;
            border-radius: 8px;
            position: absolute;
            left: 0;
            top: 0;
          }
          > span { display: none; }
        }
      }
    }
  }
}

.venue-item {
  width: 100%;
  margin-right: 0;

  &:not(:last-of-type) { margin-bottom: 4.5%; }
}

#venuekita-map-wrapper { display: none; }

/*
 * =============================================================================
 * Venue Detail Page Style
 * =============================================================================
 */
/* bxslider */
.venue-detail-slider { display: none; }

/* Sidebar */
section#main-venue-sidebar {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding-top: 66px;
  position: relative;

  .section-venue-sidebar {
    width: 100%;
    height: auto;
    box-sizing: border-box;

    &.sidebar-heading {
      width: inherit;
      height: auto;
      padding: 7% 5% 5%;
      border: {
        top: 0;
        bottom: 0;
      }

      > h2 {
        font-size: 32px;
        line-height: 42px !important;
        margin: 0;
        padding: 0;
        text-align: center;
        word-spacing: 0.19em;
      }
      > p#venue-quote-price:not(:first-of-type) { text-align: center; }
    }

    &.venue-detail-map {
      padding: 0;

      &:before {
        content: '';
        position: relative;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding-top: 56.25%;
        z-index: 1;
      }
    }

    > .table-information {
      table-layout: fixed;

      > tbody > tr {
        &:nth-child(2) { display: none; }

        td {
          &:first-child {
            width: 24px !important;
            text-align: center;

            > i {
              font-size: 22px;
              line-height: 24px;
            }
          }
          &:last-child {
            width: auto !important;
          }

          > a {
            display: block;
            line-height: 22px;
            padding-left: 8px;

            > p {
              margin: 0;
            }
          }
        }
      }
    }

    .addthis_sharing_toolbox {
      position: relative;

      &::before {
        content: '\f1e0';
        width: 24px;
        height: 32px;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 22px;
        line-height: 32px;
        text-align: center;
        color: #d71785;
        display: inline-block;
        vertical-align: middle;
      }

      #atstbx {
        width: auto;
        display: inline-block !important;
        vertical-align: middle;
        padding-left: 7px;
      }
    }
  }

  > p {
    background-color: transparent !important;

    &:nth-of-type(2) {
      padding: 2% 5% 7% !important;
      float: none !important;
      text-align: center !important;
    }
    &:first-of-type, &:last-of-type { display: none; }
  }

  #ContentPlaceHolder1_up12 {
    position: relative;

    .venue-get-quote {
      float: none !important;
      display: block;
      width: 100%;
      padding: 14px 0;
      text-decoration: underline;
    }

    > br { display: none; }

    #ContentPlaceHolder1_divanimate {
      position: relative !important;
      left: 0 !important;

      .popover.popupanimated {
        width: 100%;
        max-width: none;
        text-align: center;
        line-height: 20px;
        box-sizing: border-box;
        border-radius: 0;
        border: none;
        animation: {
          duration: 0s;
          fill-mode: none;
        }
        .arrow { top: -11px; }
        .popover-content {
          padding: 11px 14px;

          > p { margin: 0; }
        }
      }
    }
  }
}

/* Content */
section#main-venue-content {
  width: 100%;
  margin: 3% 0 0;
  position: relative;
  z-index: 9901;
  box-sizing: border-box;

  .section-venue-content.description-details {
    .content-box-wrapper {
      border-bottom: solid 1px #ccc;

      &.search {
        margin-top: 3%;

        .form-inline-filter {
          box-sizing: border-box;

          > span {
            width: 100%;
            display: block;
            float: none;
            margin-bottom: 19px;

            &:last-child { margin-bottom: 0 }
          }

          &.layout-rows {
            .filterform2 {
              width: 13%;
              margin-right: 1.5%;
              position: relative;

              &:before {
                content: '';
                display: block;
                position: relative;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                padding-top: 100%;
              }
              &:nth-of-type(7) { margin-right: 0; }

              > label.label-venue-layout {
                position: absolute;
                top: 0;
                left: 0;
                width: 100% !important;
                height: 100% !important;
                border-width: 5px;
                display: block;
              }
            }
            .searchfilter {
              width: 100%;
              float: none;
              clear: both;
              margin-top: 22%;
            }
          }
        }
      }

      .desc-text-top {
        .instant-info {
          padding: 5% 4%;

          > abbr {
            top: 50%;
            margin-top: -16px;
          }
        }
      }
    }

    .venue-detail-venue {
      border-bottom: solid 1px #ccc;

      > h3 {
        padding-left: 16px;
        box-sizing: border-box;
        width: 100%;
      }

      .venue-detail-venue-image {
        position: relative;
        overflow: hidden;
        width: 100%;
        background-image: none !important;
        float: none;

        &:before {
          content: '';
          position: relative;
          display: block;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          padding-top: 56.25%;
        }

        > img {
          min-width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          display: block;
          transform: translate(-50%, -50%) scale(1);
        }
      }

      .venue-detail-content {
        width: 100%;
        padding: 24px 16px;
        margin: 0;
        box-sizing: border-box;
        float: none;

        > h4 { margin-bottom: 7px; }

        .table-layout-sum {
          .venue-layout-item {
            padding: 0;
            width: 13%;
            margin-right: 1.5%;

            &:nth-of-type(7) {
              margin-right: 0;
            }

            > img,
            > span {
              display: block;
              float: none;
              padding: 0;
            }
          }
        }
        .booking-tool {
          .bookinfo {
            padding-top: 13px;
            border-top: solid 1px #e5e5e5;

            > p {
              margin-bottom: 13px;
              font-size: 15px;
              text-align: center;
            }
            > a {
              color: white;
              background-color: #E11F8E;
              display: block;
              text-align: center;
              padding: 7px 13px;
              font-weight: 700;
              width: 60%;
              box-sizing: border-box;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}