// main: ../venuekita.scss

/**
 * Responsive Style: Landscape Tablet & Small Screens
 * =============================================================================
 * Author: Arvianto Dwi <arvianto.dwi@programmer.net>
 * Since  : 2016-04-04 (v1.0.0)
 */

/* =============================================================================
 * Component - Footer Style
 * =============================================================================
 */
#pnlFooterGlobal #web-global-footer {
  > .container {
    width: 100%;
    max-width: none;
    padding: 0 3%;

    .footer-left {
      width: 50%;
      max-width: none;

      > nav > ul > li {
        &.page-navigation {
          > a {
            padding-left: 0;
            margin-right: 12px;
          }
        }
      }
    }

    .footer-right {
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 3%;
    }
  }
}

/* =============================================================================
 * Home / Landing Page Style
 * =============================================================================
 */
.container.form-contain {
  .search-home-form {
    .filter-fields {
      > input[type=text], > input[type=number] {
        appearance: none;
        background-color: $white;
        border-radius: 0;
      }
      > button > i.fa { margin-right: 5px; }

      .date-time-picker {
        width: 163px;
        background-color: $white;

        .mobile-dtl-label {
          @include size(100%, 100%, border-box);
          position: absolute;
          top: 0;
          left: 0;
          padding-left: 12px;
          font: {
            size: 0.875em;
            weight: 400;
          }
          color: $placeholder;
          line-height: 50px;
          background-color: $white;
          z-index: 2;

          &.wurfl.is-mobile { display: block; }
        }
        > input[type=datetime-local] {
          @include size(100%, 100%, border-box);
          padding: 0 0 0 10px;
          position: absolute;
          top: 0;
          left: 0;
          line-height: 50px;
          appearance: none;
          background-color: $white;
          border: 0;
          outline: 0;
          z-index: 1;

          &.wurfl.is-mobile { display: block; }
        }
        > span.e-datetime-wrap {
          width: 100% !important;
          display: none;
        }
      }
    }
  }
}

.clients-list {
  .container {
    .client-slide-inner { width: 960px; }
  }
}

.container.promo-intro {
  padding: 31px 0;
  // Animation Overidding
  -webkit-transform: translateY(0) scale(1) !important;
  opacity: 1 !important;

  > h1 {
    font-size: 1.6875em;
    line-height: 1.407em;
    margin: 0 0 18px;
  }
  > p {
    padding: 0 5%;
    font-size: 1em;
    line-height: 1.714em;
  }
}

#testimonial {
  .inner-row {
    .container {
      width: 960px;
      max-width: none;
      padding: 0;

      .indicator { box-sizing: border-box; }
    }
  }
}

.container#venue-list-home {
  width: 960px;
  max-width: none;
}

.container.blog-summary .article-list > li {
  width: 33.333%;
  margin-right: 0;

  &:not(:last-of-type) { margin-right: 0; }

  .post-container {
    > section { height: 380px; }
  }
}

/*
 * =============================================================================
 * Venue List Page Style
 * =============================================================================
 */
#filter-form-container {
  .filter-fields {
    overflow-y: hidden;

    .field-row {
      width: 80%;

      .filter-set {
        .single-set-field {
          > input[type=text], > input[type=number] {
            appearance: none;
            border-radius: 0;
            background-color: $white;
          }

          .datetime-wrapper {
            > input[type=datetime-local] {
              @include size(100%, 38px, border-box);
              padding: 8px 0 8px 10px;
              font-size: 0.875em;
              line-height: 20px;
              border: solid 1px #D5D5D5;
              background-color: $white;
              appearance: none;
              border-radius: 0;

              &.wurfl.is-mobile { display: block; }
            }
          }
        }
      }
    }
  }
}

#main.main-list .venue-list-catalog {
  > .venuekita-tagline {
    padding-left: 52px;

    .guarantee-icon {
      @include size(52px, 52px);
      padding: 13px;
      margin: -14px 0 0 -9px;
    }
  }
}

#main.main-list .venue-item {
  width: 48.5%;
  margin: 0 0 3%;

  &:not(:nth-of-type(2n)) { margin-right: 3%; }
  &:nth-of-type(11), &:nth-of-type(12) { margin-bottom: 1.75%; }

  .venue-list-info {
    .instant-book-shortcut {
      appearance: none;
      border-radius: 0;
    }
  }
}

/*
 * =============================================================================
 * Venue Detail Page Style
 * =============================================================================
 */
.venue-heading {
  .container {
    .heading-info {
      .venue-pricing {
        .pricing-tip { padding: 4% 15px; }
      }
    }
  }
}

.venue-content {
  .rooms-section {
    .filter {
      #filter-form {
        .fields-wrapper {
          .field-row {
            .field-input {
              > input[type=text],
              > input[type=number] {
                appearance: none;
                border-radius: 0;
                background-color: $white;
              }

              input[type=checkbox] ~ label {
                width: 80%;

                > br { display: none; }
              }
            }
          }
        }

        > input[type=submit] {
          appearance: none;
          border-radius: 0;
        }
      }
    }

    .listings {
      .listing-item {
        .item-content {
          .specification {
            .row {
              .room-dimension {
                > h3 {
                  margin-top: 11px;
                  line-height: inherit;
                }
              }
            }
          }

          .calculator {
            .calc-row { padding-top: 22px; }
          }
        }
      }
    }
  }
}

/*
 * =============================================================================
 * Order Confirmation Page Style
 * =============================================================================
 */
.checkout-content .order-summary {
  .meeting-duration {
    .date-container {
      &.start-date { padding: 0 16px 0 15px; }
      &.end-date { padding: 0 15px 0 16px; }

      > span.date-string { line-height: 1.125em; }
    }
  }

  #calculator {
    > ul .pricing-list {
      padding: {
        left: 0;
        top: 0;
      }

      &.last-result {
        margin-left: 0;
        padding-top: 9px;
      }

      .day-label {
        position: relative;
        display: block;
        margin-bottom: 9px;
        border-bottom: solid 1px #D5D5D5;
      }
    }
  }
}