// main: venuekita.scss

/**
 * Variables
 * =============================================================================
 * Author: Arvianto Dwi <arvianto.dwi@programmer.net>
 * Since : 2015-12-23
 */

// Colors - Primary
$blue: #2D415A;

// Colors - Accent
$blue_light: #D7E1E6;
$blue_mid  : #738791;
$blue_dark : #3E4042;
$yellow    : #FFD600;
$yellow_mid: #D4B307;

// Colors - Grey
// Colors - Layout
$global_body_bg  : #FAFAFA;
$global_footer_bg: #211E1E;
$home_client_bg  : #DDD;
$home_media_bg   : #D4D1D3;

// Colors - Other
$white       : #FFF;
$black       : #000;
$text_regular: #444;
$text_dark   : #222;
$text_sub    : #777;
$text_light  : #AAA;
$placeholder : #999;