// Variables Collection
$white: #fff;

// Mixins Collection
/**
 * Size
 * -------------------------------
 * Set width and height of element
 */
@mixin size($w, $h:auto) {
  width: $w;
  height: $h;
}
/**
 * CenterFix
 * -------------------------------
 * Set absolute element's position
 * into center of page. Parent element
 * must be relative or absolute positioned.
 */
@mixin centerabs($w, $h) {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: {
    top: -($h/2);
    left: -($w/2);
  }
}


/*
 * Core: General Layout Style
 * ------------------------------------
 */
/*html,
body {
  width:100%;
  min-height: 100%;
}*/

/*
 * Component: Form
 * ---------------
 */

/*
 * Page: Login
 * ----------------------
 */

// @media (max-width: 768px) {
//   .login-box {
//     width: 90%;
//     margin-top: 20px;
//   }
// .credit {
// 	padding-top:5px;
//     font-size: 12px !important;
//   }
// .login-logo {
//   font-size: 14px;
//   text-align: center;
//   margin-bottom: 25px;
//   line-height: 10px;
// }
// .login-logo b{
//   font-size: 26px;
//   line-height: 50px;
// }
// .login-logo img {
//   float:left;
//   width: 70px;
// }
// }

// .login-box-body .form-control-feedback {
//   color: #777;
// }
// .login-box-msg {
//   margin: 0;
//   text-align: center;
//   padding: 0 20px 20px 20px;
// }


// .main-footer {
//   margin-left:-1px;
// }