// main: ../venuekita.scss

/**
 * Footer Component Style
 * =============================================================================
 * Author : Arvianto Dwi <arvianto.dwi@programmer.net>
 * Since  : 2016-03-04 (v1.0.0)
 * Update : 2016-03-31 (v1.1.0) - Add veritrans support logo
 */

#pnlFooterGlobal {
  #web-global-footer {
    @include size(100%, auto);
    border-top: solid 4px $blue;
    background-color: $global_footer_bg;
    padding: 30px 0 55px;

    > .container {
      /* Basic Style Init */
      .footer-left { float: left; }
      .footer-right { float: right; }
      .footer-left > small,
      .footer-right > small {
        display: block;
        font-size: 1em;
        color: #D5D5D5;
      }

      /* Left-side Content */
      .footer-left {
        width: auto;
        max-width: 600px;

        > nav > ul {
          margin: 0;
          padding: 0;

          > li {
            margin: 10px 0 0;
            padding: 0;

            &.page-navigation {
              > a {
                padding: 0 12px 0 11px;
                position: relative;
                float: left;
                font-size: 0.9375em;
                color: $text_sub;

                &:last-of-type { padding-right: 0; }
                &:first-of-type { padding-left: 0; }
                &:not(:last-of-type)::after {
                  content: '';
                  @include size(1px, 8px);
                  background-color: $text_sub;
                  position: absolute;
                  right: 0;
                  top: 50%;
                  margin-top: -4px;
                }
                &:hover {
                  text-decoration: underline;
                  color: $text_light;
                }
              }
            }

            &.social-navigation {
              > a {
                font-size: 1.25em;
                color: $text_sub;
                float: left;
                margin-right: 22px;

                &:last-of-type { margin-right: 0; }
                &:hover { color: $text_light; }
              }
            }
          }
        }
      }

      /* Right-side Content */
      .footer-right {
        @include size(418px, auto);

        > a {
          float: left;

          &:not(:last-of-type) { margin-right: 13px; }

          &.indigo {
            width: 130px;
            margin-top: 8px;
          }
          &.telkom {
            width: 125px;
            margin-top: -10px;
          }
          &.veritrans {
            width: 136px;
            margin-top: 22px;
          }
        }
      }
    }
  }
}

#pnlFooterGlobal > .partial-footer > #web-global-footer {
  padding-bottom: 30px;

  > .container  {
    width: 100%;
    padding: 0 3%;
    max-width: none;

    .footer-left {
      /*width: 65%;

      > nav > ul > li.page-navigation {
        margin-left: -11px;

        > a:first-of-type { padding-left: 11px; }
      }*/
    }
    .footer-right {
      width: auto;
      max-width: 276px;

      > a {
        &.telkom { margin-right: 0; }
      }
    }
  }
}