/**
 * Topbar / Header Component Style
 * =============================================================================
 * Author: Hendri F. R. <pudding.and.coffee@gmail.com>
 *         Arvianto Dwi <arvianto.dwi@programmer.net>
 * Since : 2015-10-25 (v1.0.0)
 */

.main-header {
  @include size(100%, 60px);
  @include absoluteTo('top', 'left');
  z-index: 1030;

  .logo {
    @include size(230px, 60px);
    display: block;
    position: relative;
    float: left;
    padding: 0;
    line-height: 15px;
    overflow: hidden;
    white-space: nowrap;
    z-index: 2;
    transition: width 0.3s ease-in-out;

    .logo-mini { display: none; }

    .logo-lg {
      display: block;

      > img { float: left; }

      .text-top {
        font: {
          size: 22px;
          weight: 600;
        }
        padding-top: 15px;
      }
      .text-bottom {
        font-size: 12px;
        line-height: 5px;
      }
    }
  }

  .navbar {
    min-height: 60px;
    margin-bottom: 0;
    padding-left: 230px;
    position: relative;
    border: none;
    border-radius: 0;
    z-index: 1;
    transition: margin-left 0.3s ease-in-out;

    .sidebar-toggle {
      float: left;
      background: {
        color: transparent;
        image: none;
      }
      padding: 20px 15px;
      font-family: fontAwesome;

      &::before { content: "\f0c9"; }
    }

    .navbar-custom-menu {
      float: right;

      > ul.nav > li.dropdown > ul.dropdown-menu {
        border: 0;
        padding: 0;
        box-shadow: -4px 4px 25px rgba(0,0,0,0.33);

        .user-footer a.btn { display: block; }
      }
    }
  }
}