// compileCompressed: ../$1.min.css, compileExpanded: ../$1.raw.css

/*!
 * Temporary Overriding
 * =============================================================================
 * Author: Arvianto Dwi <arvianto.dwi@programmer.net>
 * Since : 2015-12-1
 * Desc. : A temporary stylesheet which made for overriding all current active
 *         styles that has been previously coded and implemented.
 */

/* Global Style */
.bxslider-inner {
  width: 100%;
  height: 600px;
  position: relative;

  .bxslider {
    height: 100%;
    margin-bottom: 0;
  }
}

/**
 * Venue List Style
 * =============================================================================
 */
// temporary dummy-responsive
@media screen and (min-width: 1440px) {
  .filterlistform
    .filter-set
    .single-set-field
    .filterform2
    span.is-overlap { margin-left: 0 !important; }
}

/**
 * Home / Landing Page Style
 * =============================================================================
 */
/**
 * Venue List Page Style
 * =============================================================================
 */
/**
 * Venue Detail Page Style
 * =============================================================================
 */

/**
 * Media Queries Specification
 * =============================================================================
 * Primary Viewports, IMPORTANT:
 * [1] max: 414 (max on iphone 6+ portrait)
 * [2] min: 415 - max: 736 (max on iphone 6+ landscape)
 * [3] min: 737 - max: 800 (max on galaxy tab portrait)
 * [4] min: 801 - max: 1024 (max on ipad landscape)
 * [5] min: 1025 - max: 1199 (max on small screen)
 * Secondary Viewports, OPTIONAL:
 * [6] min: 1200 - max: 1600 (max on medium screen)
 * [7] min: 1601 (base min value for any larger screen than above)
 */
@media screen and (max-width: 414px) {}
@media screen and (min-width: 415px) and (max-width: 736px) {}
@media screen and (min-width: 737px) and (max-width: 800px) {}
@media screen and (min-width: 801px) and (max-width: 1024px) {}
@media screen and (min-width: 1025px) and (max-width: 1199px) {}
@media screen and (min-width: 1200px) and (max-width: 1600px) {}
