// main: ../venuekita.scss

/**
 * Home / Landing Page Style
 * =============================================================================
 */
.container {
  &.no-twbs {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
  }

  &.form-contain {
    width: 100%;
    max-width: 100%;
    height: 66px;
    position: absolute;
    top: 444px;
    left: 0;
    box-sizing: border-box;
  }
  &.tagline-contain {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    background-color: #8F0B56;
  }
}
/* BXSlider Container */
#ulbxslider { padding: 0; }

/* Search Bar */
.container.form-contain {
  .search-home-form {
    width: 825px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    top: 0;
    left: 0;
    z-index: 9;

    > * {
      height: 66px;
      box-sizing: border-box;
      border: {
        style: solid;
        color: #D71785;
        width: 8px;
        right-width: 0;
      }
      outline: none;
      color: #222;
      padding-left: 12px;
      margin: 0;
      float: left;
    }
    > input[type=text] { width: 31.5%; }
    > input[type=number] {
      width: 13%;
      padding-right: 10px;
    }
    > input[type=button] {
      width: 14%;
      border-right-width: 8px;
      padding-left: 30px;
      font: {
        size: 1em;
        weight: 700;
      }
      color: $white;
      background: {
        color: #A71267;
        image: url(/Content/Images/layout/icon-search.png);
        repeat: no-repeat;
        position: 16px center;
      }
      border-radius: 0;
      text-transform: uppercase;
    }

    .date-time-picker {
      width: auto;
      padding-left: 0 !important;
      background-color: $white;

      > span.e-datetime-wrap {
        width: 163px !important;

        > span.e-in-wrap {
          border: none;

          > input {
            border: none;
            font-family: Lato, sans-serif;
            padding-left: 12px !important;
            color: #222 !important;

            &:focus { border: none !important; }
            &.e-input { font-style: normal !important; }
          }
        }
      }
    }
  }
}

/*  Tagline */
.container.tagline-contain {
  .overlay-btn-kamiurus {
    width: 100%;
    max-width: 100%;
    padding: 19px 15px;
    text-align: center;

    > p {
      &:last-of-type { display: none; }

      font-size: 1.125em;
      color: $white;
    }
    > a {
      display: inline-block;
      border: solid 2px rgba($white, 0.85);
      border-radius: 4px;
      background-color: rgba($white, 0.23);
      color: $white;
      font: {
        size: 1em;
        weight: 700;
      }
      margin: 0;
      padding: 9px;

      &:hover, &:focus {
        border: solid 2px rgba($white, 1);
        background-color: rgba($white, 1);
        color: #D71785;
        transition: .5s;
      }
    }
  }
}

/* Feature Overview */
.container.response {
  padding: 43px 15px 57px;

  .row {
    .feature-heading {
      text-align: center;
      margin-bottom: 33px;
      font-size: 2.0625em;
      line-height: 1.42em;
    }
    .feature-summaries {
      width: 33.3%;
      float: left;
      position: relative;

      &.box1 {
        background-color: #674172;

        p { background-color: #4E3057; }
      }
      &.box2 {
        background-color: #D71785;

        p { background-color: #AA1269; }
      }
      &.box3 {
        background-color: #D35400;

        p { background-color: #9E4003; }
      }

      .box-head {
        @include size(100%, auto);
        min-height: 110px;
        display: flex;
        align-items: center;
        justify-content: center;

        > img {
          position: relative;
          top: 0;
          left: 0;
          margin: 17px 10px;
        }
        > h2 {
          width: 100%;
          margin: 0;
          padding: 0;
          color: $white;
        }
      }

      p {
        color: $white;
        font-size: 0.9375em;
        padding: 20px;
        margin: 0;
      }
    }
  }
}

/* Clients List */
.clients-list {
  width: 100%;
  background-color: #E6DEE3;
  margin: 33px 0 0;
  padding: 42px 0 22px;

  .container {
    > h2 {
      font-size: 1.6875em;
      line-height: 1.555em;
      padding: 0 10%;
      text-align: center;
      margin-bottom: 33px;
    }

    .client-slide-inner {
      width: 950px;
      margin: 0 auto;

      > ul {
        margin-top: 20px;
        padding: 0;

        > li {
          @include size(290px, auto, border-box);
          border-radius: 4px;
          border: solid 1px rgba($black, 0.22);
          float: left;
          margin: 0 40px 30px 0;
          padding: 0;
          overflow: hidden;
          position: relative;
          background-color: $white;

          &:nth-child(3n) { margin-right: 0; }
          &:before {
            content: '';
            position: relative;
            padding-top: 56.25%;
            display: block;
            top: 0;
            left: 0;
          }

          > img {
            @include size(100%, 100%);
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4px;
          }
        }
      }
    }
  }
}

/* Media List */
.media-list {
  background-color: #d4d1d3;
  margin-top: -22px;

  .container {
    width: 800px;
    margin: 0 auto;

    > h3 {
      margin: 0;
      padding: 52px 0;
      float: left;
      color: #958d92;
    }
    > a {
      display: block;
      margin-top: 39px;
      float: right;

      &:not(:first-of-type) { margin-right: 30px; }

      > img {
        filter: grayscale(100%);
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
        -webkit-filter: grayscale(100%);
        opacity: 0.5;
        transition: opacity .45s, -webkit-filter .45s;

        &:hover {
          filter: grayscale(0);
          filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
          opacity: 1;
          -webkit-filter: grayscale(0);
        }
      }
    }
  }
}

/* Promo Intro */
.container.promo-intro {
  text-align: center;
  padding: 31px 0 37px;

  > p {
    padding: 0 7%;
    font-size: 1.188em;
    line-height: 1.684em;

    > strong { padding: 3px 5px; }
  }
}

/* Testimonial */
#testimonial {
  height: 540px;
  margin-bottom: 60px;
  overflow: hidden;
  background: url(/Content/Images/Services/Temp/20150910105330.jpg) no-repeat center;
  background-size: cover;

  .inner-row {
    @include size(100%, 100%);
    background-color: rgba(78, 4, 46, 0.77);

    .container {
      > h2 {
        margin: 0;
        padding: 36px 0;
        font: {
          size: 2.3125em;
          weight: 300;
        }
        color: $white;
        text-align: center;
      }

      > ul {
        width: 960px;
        margin: 0 auto;
        padding: 0;
        position: relative;

        > li.customers {
          @include size(192px, auto);
          margin: 0;
          padding: 0;
          float: left;
          opacity: 0.65;

          &.active { opacity: 1; }

          .photo {
            @include size(67px, 67px);
            margin: 0 auto;
            border: solid 3px $white;
            border-radius: 56px;
            overflow: hidden;
            cursor: pointer;
          }
          .name-company {
            .name,
            .company {
              display: block;
              text-align: center;
              line-height: 1.375em;
              cursor: pointer;
            }

            .name {
              margin-top: 13px;
              font-weight: 700;
              color: $white;
            }
            .company { color: #CFCFCF; }
          }
        }
      }

      .indicator {
        @include size(960px, 1px);
        margin: 28px auto 0;
        background-color: $white;
        position: relative;
        border: {
          style: solid;
          color: $white;
          width: 0 10px;
        }

        > i.fa {
          @include size(192px, 25px);
          position: absolute;
          top: -24px;
          left: 0;
          font-size: 36px;
          text-align: center;
          color: #fff;
        }
      }

      .quotes {
        @include size(800px, 210px);
        margin: 31px auto;
        position: relative;
        display: flex;
        align-items: center;

        > q {
          width: 100%;
          display: block;
          margin: 0;
          font: {
            size: 1.6875em;
            weight: 300;
            style: italic;
          }
          line-height: 1.407;
          text-align: center;
          color: #fff;

          &::before, &::after {
            @include size(48px, 48px);
            display: inline-block;
            position: absolute;
            font: {
              family: FontAwesome;
              weight: normal;
              style: normal;
            }
            line-height: 52px;
            border: solid 2px #fff;
            border-radius: 32px;
            opacity: 0.575;
          }
          &::before {
            content: '\f10d';
            top: 0;
            left: 0;
            margin: 0 0 0 -52px;
          }
          &::after {
            content: '\f10e';
            bottom: 0;
            right: 0;
            margin: 0 -52px 4px 0;
          }
        }
      }
    }
  }
}

/* Blog Summary */
.container.blog-summary {
  > h2 {
    text-align: center;
    margin: 60px 0 10px;
    line-height: 82px;
    padding-bottom: 0;
    border: solid 1px #CCC;
    border-left-width: 0;
    border-right-width: 0;
  }

  .article-list {
    padding: 0;

    > li {
      padding: 0;
      margin-bottom: 0;

      &:not(:last-child) {
        border-bottom: solid 2px #D5D5D5;
        margin-bottom: 5px;
        padding-bottom: 28px;
      }

      .post-container {
        > section {
          position: relative;

          .post-heading {
            width: 75%;
            margin-bottom: 9px;

            > h1 {
              font: {
                size: 1.563em;
                weight: 400;
              }
              margin: 7px 0 0;
              padding: 0;
            }
            .meta-info {
              margin-top: -5px;

              > p {
                font-size: 0.875em;
                line-height: 1.308em;
                display: inline-block;
                margin-bottom: 0;

                &:first-child { margin-right: 11px; }
              }
            }
          }
          .post-image {
            @include size(23%, auto);
            position: absolute;
            top: 24px;
            right: 0;
            margin: 0;
            overflow: hidden;

            ~ .post-content { width: 75%; }

            > a {
              width: 100%;
              display: block;
              position: relative;

              &:before {
                content: '';
                position: relative;
                display: block;
                top: 0;
                left: 0;
                padding-top: 75%;
              }

              > img {
                min-width: 100%;
                max-width: 1000%;
                min-height: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }
          }

          .post-content {
            line-height: 1.813em;
            //border-top: solid 1px #CCC;
            padding-top: 7px;
          }

          .anchor-more {
            @include size(auto, 44px);
            display: inline-block;
            padding: 0 15px;
            font: {
              size: 1em;
              weight: 700;
            }
            line-height: 44px;
            text-align: center;
            color: #FFF;
            background-color: #D71785;
            border-bottom: 4px solid #9B1060;
          }
        }
      }
      /*.post-item-divider {
        @include size(165px, 30px);
        background: {
          image: url(/Content/Images/layout/post-ornament.png);
          size: contain;
        }
        margin: 30px auto;
      }*/
    }
  }
}

/* Popular Venue List */
/* See ./components/_venue_item.scss for Venue Item style */
