/**
 * Login Page Style
 * =============================================================================
 * Author : Hendri F. R. <pudding.and.coffee@gmail.com>
 *          Arvianto Dwi <arvianto.dwi@programmer.net>
 * Since  : 2015-10-25 (v1.0.0)
 */

.login-page {
  background: {
    image: url('/images/bg-login.jpg');
    repeat: no-repeat;
    position: center center;
    size: cover;
  }

  .login-box {
    width: 340px;
    min-height: 30%;
    @include absoluteCenterPercent(340px, null);

    .login-logo {
      height: 84px;
      padding: 2px 0;
      margin-bottom: 12px;
      color: $white;

      > img {
        float: left;
        margin-right: 10px;
      }

      .title {
        padding: 2px 0 2px 80px;
        height: 100%;

        > span {
          display: block;
          white-space: nowrap;

          &:first-child { font-size: 35px; }
          &:last-child {
            font-size: 19px;
            margin-top: -6px;
          }
        }
      }
    }

    .login-box-body {
      .ruler {
        height: 2px;
        margin: 17px 0;

        &::before, &::after {
          content: '';
          height: 1px;
          display: block;
        }
        &::before { background-color: rgba(0,0,0,0.33); }
        &::after { background-color: #00c0be; }
      }

      .feedback-notification {
        display: none;
        padding: 8px 13px;
        margin-bottom: 17px;
        background-color: #FFFF9E;
        border: solid 1px #B81;

        &.has-error { display: block; }
      }

      .form-group.fg-login {
        height: 48px;
        margin-bottom: 17px;

        .form-control {
          height: inherit;
          padding: 0 12px;
          font-size:17px;
          color: #fff;
          background-color: #008583;
          border-color: rgba(0,0,0,0);
          border-radius: 4px;
          box-shadow: inset 0 2px 0 #006967, 0 1px 0 #00bfba;
          @include placeholder { color: #96c2c4; }

          &:focus {
            border-color: #a0ded9;
            box-shadow: inset 0 2px 0 transparent, 0 1px 0 transparent;
          }
        }

        .btn {
          @include size(100%, 48px);
          margin-top: 33px;
          background-color: #bfebe7;
          color: #2c6e70;
          font: {
            size: 17px;
            weight: 700;
          }
          border-radius: 4px;
          box-shadow: inset 0 -2px 0 #8fd9d1, 0 1px 0 #098d82
        }
      }
    }

    .login-foot {
      margin-top: -6px;

      .credit {
        width: 260px;

        > span {
          display: block;
          color: #9aede2;
        }
      }
    }
  }
}
