// main: ../venuekita.scss

/**
 * Order Confirmation Page Style
 * =============================================================================
 * Author : Arvianto Dwi <arvianto.dwi@programmer.net>
 * Since  : 2016-02-21 (v1.0.0)
 * Update : 2016-04-12 (v1.1.0) - Responsive improvement
 */

/* Order Walkthrough ======================================================== */
.order-walkthrough {
  padding: 71px 0 41px;
  background-color: #F1F1F1;

  .steps-inner-container {
    padding: 0 13px;
    position: relative;

    .bg-bar {
      @include size(95%, 14px);
      padding: 3px 15px;
      margin: 14px auto;
      position: relative;
      background-color: #D5D5D5;
      z-index: 2;

      .bg-bar-progress {
        @include size(0, 100%);
        background-color: #00C853;
        border-radius: 8px;
      }
    }

    .bg-step {
      @include size(42px, 42px);
      position: absolute;
      top: 0;
      border: solid 3px #D5D5D5;
      background-color: #D5D5D5;
      border-radius: 42px;

      &.nth-first { left: 13px; }
      &.nth-2 {
        left: 30%;
        margin-left: 13px;
      }
      &.nth-3{
        right: 30%;
        margin-right: 13px;
      }
      &.nth-last { right: 13px; }

      > i {
        display: block;
        position: relative;
        font: {
          size: 1.125em;
          weight: 700;
          style: normal;
        }
        line-height: 36px;
        text-align: center;
        color: #969696;
        z-index: 4;

        &.fa {
          font-size: 1.375em;

          &.fa-ellipsis-h { line-height: 39px; }
        }
        &.has-progress { color: $white; }
      }

      .bg-step-progress {
        @include size(0, 0);
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0;
        background-color: #00C853;
        z-index: 3;
        border-radius: 36px;
      }

      .step-label {
        @include size(136px, auto);
        position: absolute;
        bottom: -27px;
        left: 50%;
        margin-left: -68px;
        text-align: center;
        font-size: 0.9375em;
        line-height: 1em;
      }
    }
  }
}

/* Checkout Base Content ==================================================== */
.checkout-content {
  padding-top: 20px;
  margin-bottom: 80px;

  .checkout-form { padding-left: 0; }
  .order-summary { padding-right: 0; }
}

/* Form Set ================================================================= */
.checkout-content .checkout-form .form-set {
  &:not(:last-child) { margin-bottom: 21px; }

  .set-heading {
    margin: 30px 0 21px;
    font: {
      size: 1.25em;
      weight: 700;
    }
    line-height: 1em;
    color: $text_regular;
  }

  .form-fields-container {
    background-color: #F1F1F1;
    border: solid 1px #D5D5D5;

    .set-fields-row {
      width: 455px;
      margin: 0 auto;
      padding-bottom: 20px;
      border-bottom: solid 1px #D5D5D5;

      &:last-child { border-bottom: 0; }

      .fields-heading {
        height: 50px;
        position: relative;
        margin-bottom: 7px;
        border-bottom: solid 1px #D5D5D5;

        > span {
          @include size(142px, 50px);
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
          font: {
            size: 1.0625em;
            weight: 700;
          }
          line-height: 46px;
          text-align: center;
          color: $text_regular;
          border-bottom: solid 4px $blue_mid;
        }
      }

      .form-field {
        padding-top: 13px;

        &.disabled-field { display: none; }

        &:first-of-type { padding-top: 20px; }

        > label {
          @include size(194px, 38px);
          float: left;
          padding-left: 30px;
          margin: 0;
          font-size: 0.875em;
          color: #696969;
          line-height: 38px;

          &.is-block-label {
            display: block;
            float: none;
          }
          &.inline-label {
            @include size(224px, auto);
            padding-left: 0;
            margin-left: 194px;
            float: none;
            line-height: normal;
            cursor: pointer;
          }
        }
        > select,
        > textarea,
        > input[type=text],
        > input[type=number],
        > input[type=email] {
          @include size(224px, 38px);
          color: $text_regular;
          border: solid 1px #CCCCCC;
          margin: 0;
        }
        > input[type=text],
        > input[type=number],
        > input[type=email] {
          font-size: 0.875em;
          padding-left: 9px;
        }
        > select { padding: 6px; }
        > textarea {
          @include size(388px, auto);
          min-height: 148px;
          margin-left: 30px;
          resize: vertical;
        }

        .residential-description {
          width: 418px;
          padding-left: 194px;
          margin-top: 8px;
          display: inline-block;
          vertical-align: middle;
          color: #696969;
          font-size: 0.875em;
          line-height: 1.1428em;

          &.hidden { display: none; }
        }
      }
    }
  }

  #order-to-payment {
    @include size(100%, 66px);
    margin: -1px 0 0;
    padding: 0;
    background-color: $yellow;
    border: solid 1px $yellow_mid;
    font: {
      size: 1.0625em;
      weight: 700;
    }
    color: $blue;
    text: {
      align: center;
      transform: uppercase;
    }

    > img { margin-right: 5px; }
  }
}

/* Order Sumary ============================================================= */
.checkout-content .order-summary {
  .meeting-duration {
    position: relative;
    margin-bottom: 30px;
    padding: 13px 0;
    background-color: $white;
    border: solid 1px #D5D5D5;
    text-align: center;

    .arrow-go-to {
      @include size(32px, 32px);
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -16px 0 0 -16px;
      border: solid 1px #7A7A7A;
      border-radius: 32px;
      color: $text_sub;
      text-align: center;

      > i.fa { line-height: 30px; }
    }
    .date-container {
      text-align: center;

      &.start-date { padding: 0 16px 0 0; }
      &.end-date { padding: 0 0 0 16px; }

      > span {
        display: block;
        line-height: 1em;
        font-weight: 700;

        &.date-label {
          font-size: 0.875em;
          color: #696969;
          margin-bottom: 6px;
        }
        &.date-string {
          color: $text_regular;
        }
      }
    }
  }

  .room-overview {
    position: relative;
    margin-bottom: 26px;

    .room-image {
      width: 164px;
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;

      &::before {
        content: '';
        display: block;
        padding-top: 56.25%;
      }

      > img {
        @include size(100%, auto);
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    .address-name {
      padding-left: 177px;

      > span {
        display: block;
        color: $text_regular;

        &:first-child {
          font: {
            size: 1.25em;
            weight: 700;
          }
          line-height: 1em;
          margin-bottom: 14px;
        }
        &:nth-child(2) {
          margin-bottom: 3px;
          font-weight: 700;
          line-height: 1.25em;
        }
        &:last-child {
          font-size: 0.875em;
          line-height: 1.4285em;
        }
      }
    }
  }

  #calculator {
    background-color: $white;
    border: solid 1px #D5D5D5;
    padding: 0 19px;

    > ul {
      padding: 0;
      margin: 0;

      .pricing-list {
        height: auto;
        min-height: 45px;
        padding: 8px 0 12px 80px;
        margin: 0;
        position: relative;
        border-bottom: solid 1px #D5D5D5;

        &.last-day, &.last-result { border-bottom: 0; }
        &.last-result {
          margin-left: 80px;
          padding-left: 0;
          border-top: solid 2px $blue;
        }

        i.fa-plus {
          @include size(14px, 14px);
          display: block;
          position: absolute;
          right: -17px;
          top: -8px;
          font-size: 0.875em;
          color: $blue;
          text-align: center;
        }

        .day-label {
          position: absolute;
          left: 0;
          top: 0;
          line-height: 44px;
        }

        .calculation {
          position: relative;

          &:not(:last-of-type) { margin-bottom: 3px; }

          &.hidden { display: none; }

          .price-formula {
            padding-right: 142px;
            margin-bottom: 10px;
            text-align: right;

            > b, i, span {
              display: inline-block;
              vertical-align: middle;
              font-weight: 400;
            }
            > .price-per-pax {
              margin-right: 4px;
              position: relative;

              > abbr {
                position: absolute;
                left: 0;
                top: 0;
                margin: {
                  top: 4px;
                  left: -16px;
                }
                font:{
                  size: 0.75em;
                  weight: 400;
                }
                line-height: 1em;
                border: 0;
              }
              > span {
                position: absolute;
                right: 0;
                font: {
                  size: 0.75em;
                  weight: 400;
                }
                line-height: 1em;
                margin-top: -4px;
                white-space: nowrap;
              }
            }
            > i.fa {
              font-size: 0.875em;
              margin-right: 4px;
            }
            > .pax-result {
              min-width: 18px;
              margin-right: 4px;
              white-space: nowrap;
            }
            > .final-calc-label {
              margin-right: 4px;
              font-weight: 700;
              color: $blue;

              > span {
                vertical-align: baseline;
                font-weight: inherit;
              }
            }
            > span.equals {
              @include size(8px, 8px);
              position: relative;
              font-size: 0;
              line-height: 13px;

              &::before {
                content: '';
                @include size(8px, 3px);
                display: block;
                background-color: $blue;
              }
              &::after {
                content: '';
                @include size(8px, 3px);
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: $blue;
              }
            }
          }
          .price-sum {
            position: absolute;
            right: 0;
            top: 0;
            text-align: right;

            .price-result {
              color: $blue;
              position: relative;

              > abbr {
                position: absolute;
                top: 0;
                left: 0;
                margin-left: -17px;

                font:{
                  size: 0.75em;
                  weight: 400;
                }
                line-height: 1em;
                float: left;
                border: 0;
              }
            }
          }
        }
      }
    }

    #stack-expander {
      display: none;
      padding-bottom: 4px;
      border-top: solid 1px #D5D5D5;

      > button {
        width: 100%;
        background: none;
        padding: 2px 0 0;
        margin: 0;
        font-size: 0.875em;
        text-align: center;
        line-height: 1em;
        color: $text_sub;
        border: 0;
        outline: none;

        > i.fa {
          display: block;
          margin-top: 2px;
          font-size: 16px;
        }
      }
    }
  }
}

/* Animation Styling ======================================================== */
.order-walkthrough.animate .bg-step.nth-first > .bg-step-progress {
  animation-name: step-1-progress;
  animation-duration: .65s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
.order-walkthrough.animate .bg-bar-progress {
  animation-name: bar-progress;
  animation-duration: 1.29s;
  animation-timing-function: linear;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
.order-walkthrough.animate .bg-step.nth-2 > .bg-step-progress {
  animation-name: step-2-progress;
  animation-duration: .65s;
  animation-timing-function: ease-out;
  animation-delay: 1.35s;
  animation-fill-mode: forwards;
}